:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

textarea:focus {
  outline: none;
}

.systemMessages::-webkit-scrollbar {
  width: 6px;
}

.systemMessages::-webkit-scrollbar-track {
  display: none;
}

.systemMessages::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  border: 10px solid rgba(255, 255, 255, 0.5);
}

.chatMessages::-webkit-scrollbar {
  width: 6px;
}

.chatMessages::-webkit-scrollbar-track {
  display: none;
}

.chatMessages::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  border: 10px solid rgba(255, 255, 255, 0.5);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.1em;
  font-size: 1em;
}

select:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}

textarea {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.1em 0.2em;
  font-size: 1em;
  font-family: inherit;
  resize: none;
}

.blinkingCursor {
  margin: 0;
  padding: 0;
}

.blinkingCursor::after {
  position: relative;
  top: 2px;
  content: "";
  width: 8px;
  height: 1.1em;
  margin-top: 0;
  margin-left: 6px;
  background: rgba(0, 158, 219, 1);
  display: inline-block;
  animation: cursor-blink 0.2s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
